@inject NavigationManager _navigation

<button class="btn btn-outline-dark btn-block" @onclick="NavigateToList">
    <span class="oi oi-arrow-left"></span>
    Back To List
</button>

@code {
    [Parameter] public string Target { get; set; }

    void NavigateToList()
    {
        _navigation.NavigateTo($"{_navigation.BaseUri}{Target}");
    }
}